/* CSS Reset*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Default Page Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  color: white;
}

/* Default Font-styles */
h1 {
  font-size: 100px;
  color: white;
  text-transform: uppercase;
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
}
h2 {
  font-size: 64px;
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  text-transform: uppercase;
}
h3 {
  font-size: 32px;
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  text-transform: uppercase;
}
h4 {
  font-size: 28px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #d0d6f9;
  text-transform: uppercase;
  line-height: auto;
  letter-spacing: 4.72px;
}
h5 {
  font-size: 18px;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #d0d6f9;
  word-spacing: 1px;
  line-height: 32px;
  letter-spacing: 0px;
}
p {
  font-size: 18px;
  font-weight: 400;
  font-family: "Roboto Slab", serif;
  color: D0D6F9;
}
a {
  font-weight: 400;
  font-family: "Roboto Slab", serif;
  color: white;
  text-decoration: none;
}

/* DASHBOARD */
.search {
  display: flex;
  justify-content: flex-end;
}
.search-btn {
  border: 0;
  border-radius: 10px;
  background: none;
  margin: 10px;
  color: white;
}
.search-input {
  border-radius: 25px;
  border-color: white;
  width: 300px;
  height: 40px;
  margin: 10px;
  background-color: #181818;
  shape-outside: none;
}
input[type="text"] {
  color: white;
  padding: 12px 20px;
}

.main-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.forecast-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.current-weather-btn0 {
  display: none;
  border: 0;
  border-radius: 25px;
  padding: 50px 100px 100px 100px;
  background: #d9d9d9;
}
.current-weather-btn1 {
  display: none;
  border: 0;
  border-radius: 25px;
  padding: 50px 100px 100px 100px;
  background: #d9d9d9;
}
.current-weather-btn2 {
  display: none;
  border: 0;
  border-radius: 25px;
  padding: 50px 100px 100px 100px;
  background: #d9d9d9;
}
.current-weather-btn3 {
  display: none;
  border: 0;
  border-radius: 25px;
  padding: 50px 100px 100px 100px;
  background: #d9d9d9;
}

.forecast-weather-btn0 {
  border: 0;
  border-radius: 100%;
  height: 200px;
  width: 200px;
  background: #d9d9d9;
  padding: 25px;
  display: none;
}
.forecast-weather-btn1 {
  border: 0;
  border-radius: 100%;
  height: 200px;
  width: 200px;
  background: #d9d9d9;
  padding: 25px;
  display: none;
}
.forecast-weather-btn2 {
  border: 0;
  border-radius: 100%;
  height: 200px;
  width: 200px;
  background: #d9d9d9;
  padding: 25px;
  display: none;
}
.forecast-weather-btn3 {
  border: 0;
  border-radius: 100%;
  height: 200px;
  width: 200px;
  background: #d9d9d9;
  padding: 25px;
  display: none;
}

.popup {
  display: contents;
}
/* Responsive Styles */
/* MOBILE */
@media screen and (max-width: 750px) {
  /* Page Content Styles */
  .center {
    margin-top: 10px;
    padding: 15px 15px 0px 15px;
  }
  .page-heading {
    padding: 10px 25px;
    padding-top: 20px;
  }

  .page-body {
    padding: 25px 25px 25px 25px;
  }
  .accordion-body {
    padding: 25px 25px 50px 25px;
  }
  .main-page-body {
    padding: 25px 25px 50px 25px;
  }
  /* Cards */
  .card-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
  }
  .card {
    margin-bottom: 50px;
  }
  /* DASHBOARD */
  .forecast-row {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .forecast-weather-btn {
    margin: 25px;
  }
}
/* END MOBILE */

/* TABLET */
@media screen and (min-width: 750px) {
  /* Page Content Styles */
  .page-heading {
    padding: 25px 50px;
  }

  .page-body {
    padding: 0px 50px 15px 50px;
  }
  .accordion-body {
    padding: 0px 50px 25px 50px;
  }
  .main-page-body {
    padding: 0px 50px 25px 50px;
  }
  /* Cards */
  .card-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
  }
  .card {
    margin-bottom: 50px;
  }
}
/* END TABLET */

/* DESKTOP */
@media screen and (min-width: 1024px) {
  .page-body {
    padding: 0px 100px 0px 100px;
  }
  .accordion-body {
    padding: 0px 100px 100px 100px;
  }
  .main-page-body {
    padding: 0px 100px 25px 100px;
  }
  .card-row {
    flex-direction: row;
  }
}
/* END DESKTOP */

.rating {
  width: 100px;
  height: 100px;
}
.rating-red {
  color: red;
}
.rating-green {
  color: green;
}
.rating-amber {
  color: orange;
}
