/* CSS Reset*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Default Page Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  color: white;
  background-color: #080b10;
}

/* Default Font-styles */
h1 {
  font-size: 100px;
  color: white;
  text-transform: uppercase;
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
}
h2 {
  font-size: 64px;
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  text-transform: uppercase;
}
h3 {
  font-size: 32px;
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  text-transform: uppercase;
}
h4 {
  font-size: 28px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #d0d6f9;
  text-transform: uppercase;
  line-height: auto;
  letter-spacing: 4.72px;
}
h5 {
  font-size: 18px;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #d0d6f9;
  word-spacing: 1px;
  line-height: 32px;
  letter-spacing: 0px;
}
p {
  font-size: 18px;
  font-weight: 400;
  font-family: "Barlow", sans-serif;
  color: D0D6F9;
}

a {
  font-weight: 400;
  font-family: "Barlow", sans-serif;
  color: white;
  text-decoration: none;
}

/* DASHBOARD */
.search {
  display: flex;
  justify-content: flex-end;
}
.search-btn {
  border: 0;
  border-radius: 10px;
  background: none;
  margin: 10px;
  color: white;
}
.search-input {
  border-radius: 25px;
  border-color: white;
  width: 300px;
  height: 40px;
  margin: 10px;
  background-color: #181818;
  shape-outside: none;
}
input[type="text"] {
  color: white;
  padding: 12px 20px;
}
html {
  scroll-behavior: smooth;
}

.main-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.forecast-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.current-weather-btn0 {
  display: none;
  border: 0;
  border-radius: 25px;
  padding: 50px 100px 100px 100px;
  background: #d9d9d9;
  margin-top: 30px;
  height: 620px;
  overflow: scroll;
}
.current-weather-btn0::-webkit-scrollbar {
  display: none;
}
.current-weather-btn0 {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.current-weather-btn1 {
  display: none;
  border: 0;
  border-radius: 25px;
  padding: 50px 100px 100px 100px;
  background: #d9d9d9;
  text-decoration: black;
  height: 620px;
  width: 500px;
  overflow: scroll;
}
.current-weather-btn1::-webkit-scrollbar {
  display: none;
}
.current-weather-btn1 {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.current-weather-btn2 {
  display: none;
  border: 0;
  border-radius: 25px;
  padding: 50px 100px 100px 100px;
  background: #d9d9d9;
  height: 620px;
  width: 500px;
  overflow: scroll;
}
.current-weather-btn2::-webkit-scrollbar {
  display: none;
}
.current-weather-btn2 {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.current-weather-btn3 {
  display: none;
  border: 0;
  border-radius: 25px;
  padding: 50px 100px 100px 100px;
  background: #d9d9d9;
  height: 620px;
  width: 500px;
  overflow: scroll;
}
.current-weather-btn3::-webkit-scrollbar {
  display: none;
}
.current-weather-btn3 {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.forecast-weather-btn0 {
  border: 0;
  height: 30px;
  width: 200px;
  background: #d9d9d9;
  display: none;
  align-items: center;
  margin-top: 30px;
  text-align: center;
  border-radius: 20px;
}
.forecast-weather-btn1 {
  border: 0;
  border-radius: 75px;
  height: 280px;
  width: 160px;
  background: #d9d9d9;
  padding: 25px;
  display: none;
}
.forecast-weather-btn2 {
  border: 0;
  border-radius: 75px;
  height: 280px;
  width: 160px;
  background: #d9d9d9;
  padding: 25px;
  display: none;
}
.forecast-weather-btn3 {
  border: 0;
  border-radius: 75px;
  height: 280px;
  width: 160px;
  background: #d9d9d9;
  padding: 25px;
  display: none;
}

.popup {
  display: contents;
}
.bookmarks {
  display: grid;
  justify-items: end;
}
.bookmark-scroll {
  display: grid;
  justify-items: end;
  width: 350px;
  height: 50px;
  overflow: scroll;
  margin-right: 25px;
}
.bookmark-scroll::-webkit-scrollbar {
  display: none;
}

.bookmark-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.bookmark-button {
  border: 0;
  height: 20px;
  width: 85px;
  background: #d9d9d9;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  margin: 5px;
  margin-right: 10px;
}

.forecast-weather-btn0 {
  margin: 10px;
}
.main-summary {
  margin-top: 10px;
}

.city {
  margin-top: 5px;
}
.description {
  margin-top: 5px;
}
.quality {
  margin-top: 15px;
}
.rating {
  margin-top: 10px;
}

/* Responsive Styles */
/* MOBILE */
@media screen and (max-width: 750px) {
  .forecast-row {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .current-weather-btn0 {
    width: 344px;
    height: 300px;
  }
  .current-weather-btn1 {
    width: 344px;
    margin: 50px;
  }
  .current-weather-btn2 {
    width: 344px;
    margin: 50px;
  }
  .current-weather-btn3 {
    width: 344px;
    margin: 50px;
  }
  .forecast-weather-btn0 {
    margin: 25px;
  }
  .forecast-weather-btn1 {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    margin: 50px;
  }
  .forecast-weather-btn2 {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    margin: 50px;
  }
  .forecast-weather-btn3 {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    margin: 50px;
  }

  .main-summary {
    margin-top: 10px;
  }
  .myDate {
    font-size: 40px;
  }
  .city {
    margin-top: 5px;
  }
  .description {
    margin-top: 5px;
  }
  .quality {
    margin-top: 55px;
  }
  .rating {
    margin-top: 15px;
  }
  .search-input {
    width: 230px;
    height: 30px;
    font-size: 15px;
  }
}
/* END MOBILE */

/* TABLET */
@media screen and (min-width: 750px) {
}

/* DESKTOP */
@media screen and (min-width: 1024px) {
}

.fade-in-one {
  animation-duration: 750ms;
  animation-fill-mode: both;
}
.fade-in-two {
  animation-delay: 800ms;
  animation-duration: 1.5s;
  animation-fill-mode: both;
}
.fade-in-three {
  animation-delay: 2.1s;
  animation-duration: 1.5s;
  animation-fill-mode: both;
}
.fade-in-four {
  animation-delay: 2.6s;
  animation-duration: 2.1s;
  animation-fill-mode: both;
}
.fade-in-five {
  animation-delay: 3.1s;
  animation-duration: 2.2s;
  animation-fill-mode: both;
}
.fade-in-six {
  animation-delay: 3.6s;
  animation-duration: 2.2s;
  animation-fill-mode: both;
}

.fadeInBottom {
  animation-name: fadeInBottom;
}
@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(70%);
  }
  to {
    opacity: 1;
  }
}
